html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #590d22;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
h1{
    color: #ff4d6d;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 20px;
}
img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #ffccd5;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color:#ffccd5;
    background-color:#a4133c;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
button:hover{
    background-color:#c9184a;
    cursor: grab;
}
input{
    border-radius: 4px;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color:#ff4d6d;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}
ul li:hover{
    background-color:#ff758f;
    cursor: grab;
}
